[build]
builder = "NIXPACKS"

[build.env]
PYTHON_VERSION = "3.10"

[deploy]
startCommand = "python -m api"
healthcheckPath = "/v1/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3