[phases.setup]
nixPkgs = ["python310", "libsndfile", "python310Packages.setuptools"]

[phases.install]
cmds = [
    "pip install uv",
    "pip install setuptools",
    "./install_cpu_torch.sh"
]

[phases.build]
cmds = []

[start]
cmd = "python -m api"