[phases.setup]
nixPkgs = []

[phases.install]
cmds = [
    "python3.10 -m pip install --upgrade pip",
    "python3.10 -m pip install uv setuptools wheel",
    "chmod +x install_cpu_torch.sh",
    "./install_cpu_torch.sh"
]

[phases.build]
cmds = []

[start]
cmd = "python3.10 -m api"