[phases.setup]
nixPkgs = ["python310", "libsndfile"]

[phases.install]
cmds = [
    "pip install uv",
    "uv sync --frozen --index-url https://download.pytorch.org/whl/cpu"
]

[phases.build]
cmds = []

[start]
cmd = "python -m api"