[phases.setup]
nixPkgs = ["python310", "libsndfile"]

[phases.install]
cmds = [
    "chmod +x install_cpu_torch.sh",
    "./install_cpu_torch.sh"
]

[phases.build]
cmds = []

[start]
cmd = "python -m api"